In [1]:
import pandas as pd
import requests

In [2]:
API_KEY="b6584cbf-6739-4d78-9208-fc98f30f13d0"
AIRLINES = ["6E","AI","IX","QP","SG","9I","S5","IC"]

In [3]:
all_flights = []

for code in AIRLINES:
    url = f"https://airlabs.co/api/v9/schedules?airline_iata={code}&api_key={API_KEY}"
    response = requests.get(url)
    data = response.json()
    flights = data.get("response", [])
    print(f"Fetched {len(flights)} flights for {code}")
    all_flights.extend(flights)

Fetched 100 flights for 6E
Fetched 100 flights for AI
Fetched 100 flights for IX
Fetched 83 flights for QP
Fetched 93 flights for SG
Fetched 10 flights for 9I
Fetched 13 flights for S5
Fetched 0 flights for IC

In [4]:
print("Total flights fetched:",len(all_flights))

Total flights fetched: 499

In [5]:
flights=pd.DataFrame(all_flights)

In [6]:
print(flights.head())

  airline_iata airline_icao flight_iata flight_icao flight_number dep_iata  \
0           6E          IGO       6E512      IGO512           512      CCU
1           6E          IGO      6E7139     IGO7139          7139      VGA
2           6E          IGO      6E7586     IGO7586          7586      BLR
3           6E          IGO       6E324      IGO324           324      CJB
4           6E          IGO       6E437      IGO437           437      GOP

  dep_icao dep_terminal dep_gate          dep_time  ... delayed dep_delayed  \
0     VECC         None     None  2026-01-07 18:15  ...     NaN         NaN
1     VOBZ         None     None  2026-01-07 18:25  ...     NaN         NaN
2     VOBL            1       23  2026-01-07 18:15  ...     NaN         NaN
3     VOCB         None     None  2026-01-07 18:15  ...     NaN         NaN
4     VEGK         None     None  2026-01-07 18:15  ...     8.0         NaN

  arr_delayed aircraft_icao arr_time_ts dep_time_ts arr_estimated_ts  \
0         NaN          None  1767795600  1767789900     1.767795e+09
1         NaN          None  1767795300  1767790500     1.767794e+09
2         NaN          None  1767795300  1767789900     1.767795e+09
3         NaN          None  1767793800  1767789900     1.767793e+09
4         8.0          None  1767799200  1767789900     1.767800e+09

  dep_estimated_ts arr_actual_ts dep_actual_ts
0     1.767789e+09  1.767795e+09  1.767789e+09
1     1.767789e+09  1.767794e+09  1.767789e+09
2     1.767790e+09  1.767795e+09  1.767790e+09
3     1.767790e+09  1.767793e+09  1.767790e+09
4     1.767790e+09           NaN  1.767790e+09

[5 rows x 41 columns]

In [7]:
flights.head()

,airline_iata,airline_icao,flight_iata,flight_icao,flight_number,dep_iata,dep_icao,dep_terminal,dep_gate,dep_time,...,delayed,dep_delayed,arr_delayed,aircraft_icao,arr_time_ts,dep_time_ts,arr_estimated_ts,dep_estimated_ts,arr_actual_ts,dep_actual_ts
0,6E,IGO,6E512,IGO512,512,CCU,VECC,None,None,2026-01-07 18:15,...,NaN,NaN,NaN,None,1767795600,1767789900,1.767795e+09,1.767789e+09,1.767795e+09,1.767789e+09
1,6E,IGO,6E7139,IGO7139,7139,VGA,VOBZ,None,None,2026-01-07 18:25,...,NaN,NaN,NaN,None,1767795300,1767790500,1.767794e+09,1.767789e+09,1.767794e+09,1.767789e+09
2,6E,IGO,6E7586,IGO7586,7586,BLR,VOBL,1,23,2026-01-07 18:15,...,NaN,NaN,NaN,None,1767795300,1767789900,1.767795e+09,1.767790e+09,1.767795e+09,1.767790e+09
3,6E,IGO,6E324,IGO324,324,CJB,VOCB,None,None,2026-01-07 18:15,...,NaN,NaN,NaN,None,1767793800,1767789900,1.767793e+09,1.767790e+09,1.767793e+09,1.767790e+09
4,6E,IGO,6E437,IGO437,437,GOP,VEGK,None,None,2026-01-07 18:15,...,8.0,NaN,8.0,None,1767799200,1767789900,1.767800e+09,1.767790e+09,NaN,1.767790e+09

In [8]:
flights["airline_iata"]

0      6E
1      6E
2      6E
3      6E
4      6E
       ..
494    S5
495    S5
496    S5
497    S5
498    S5
Name: airline_iata, Length: 499, dtype: object

In [9]:
flights.tail()

,airline_iata,airline_icao,flight_iata,flight_icao,flight_number,dep_iata,dep_icao,dep_terminal,dep_gate,dep_time,...,delayed,dep_delayed,arr_delayed,aircraft_icao,arr_time_ts,dep_time_ts,arr_estimated_ts,dep_estimated_ts,arr_actual_ts,dep_actual_ts
494,S5,SDG,S59110,SDG9110,9110,BLR,VOBL,2,D18,2026-01-07 20:25,...,NaN,NaN,NaN,None,1767802200,1767797700,NaN,NaN,NaN,NaN
495,S5,SDG,S59204,SDG9204,9204,HYD,VOHS,None,None,2026-01-07 20:40,...,NaN,NaN,NaN,None,1767802500,1767798600,NaN,NaN,NaN,NaN
496,S5,SDG,S59205,SDG9205,9205,GOX,None,None,None,2026-01-07 22:15,...,NaN,NaN,NaN,None,1767808800,1767804300,NaN,NaN,NaN,NaN
497,S5,SDG,S5396,SDG396,396,BOM,VABB,None,1,2026-01-07 16:50,...,24.0,14.0,24.0,None,1767789600,1767784800,1.767791e+09,1.767786e+09,1.767791e+09,1.767786e+09
498,S5,SDG,S5182,SDG182,182,GOX,None,None,None,2026-01-07 17:40,...,NaN,NaN,NaN,None,1767792000,1767787800,1.767791e+09,NaN,NaN,NaN

In [10]:
flights.columns=flights.columns.str.lower()
flights.columns=flights.columns.str.replace(' ','_')

In [11]:
flights.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 499 entries, 0 to 498
Data columns (total 41 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   airline_iata       499 non-null    object
 1   airline_icao       499 non-null    object
 2   flight_iata        499 non-null    object
 3   flight_icao        499 non-null    object
 4   flight_number      499 non-null    object
 5   dep_iata           499 non-null    object
 6   dep_icao           493 non-null    object
 7   dep_terminal       302 non-null    object
 8   dep_gate           231 non-null    object
 9   dep_time           499 non-null    object
 10  dep_time_utc       499 non-null    object
 11  dep_estimated      343 non-null    object
 12  dep_estimated_utc  343 non-null    object
 13  dep_actual         289 non-null    object
 14  dep_actual_utc     289 non-null    object
 15  arr_iata           499 non-null    object
 16  arr_icao           491 non-null    object
 17  arr_terminal       321 non-null    object
 18  arr_gate           55 non-null     object
 19  arr_baggage        198 non-null    object
 20  arr_time           499 non-null    object
 21  arr_time_utc       499 non-null    object
 22  arr_estimated      322 non-null    object
 23  arr_estimated_utc  322 non-null    object
 24  arr_actual         78 non-null     object
 25  arr_actual_utc     78 non-null     object
 26  cs_airline_iata    87 non-null     object
 27  cs_flight_number   87 non-null     object
 28  cs_flight_iata     87 non-null     object
 29  status             499 non-null    object
 30  duration           499 non-null    int64
 31  delayed            238 non-null    float64
 32  dep_delayed        235 non-null    float64
 33  arr_delayed        188 non-null    float64
 34  aircraft_icao      0 non-null      object
 35  arr_time_ts        499 non-null    int64
 36  dep_time_ts        499 non-null    int64
 37  arr_estimated_ts   322 non-null    float64
 38  dep_estimated_ts   343 non-null    float64
 39  arr_actual_ts      78 non-null     float64
 40  dep_actual_ts      289 non-null    float64
dtypes: float64(7), int64(3), object(31)
memory usage: 160.0+ KB

In [12]:
flights.describe()

,duration,delayed,dep_delayed,arr_delayed,arr_time_ts,dep_time_ts,arr_estimated_ts,dep_estimated_ts,arr_actual_ts,dep_actual_ts
count,499.000000,238.000000,235.000000,188.000000,4.990000e+02,4.990000e+02,3.220000e+02,3.430000e+02,7.800000e+01,2.890000e+02
mean,160.070140,64.815126,65.008511,71.148936,1.767804e+09,1.767795e+09,1.767802e+09,1.767793e+09,1.767794e+09,1.767791e+09
std,95.858754,141.482415,140.453965,156.184175,1.347409e+04,1.234254e+04,9.453174e+03,7.118951e+03,1.992327e+03,2.951239e+03
min,45.000000,1.000000,1.000000,1.000000,1.767739e+09,1.767724e+09,1.767788e+09,1.767779e+09,1.767788e+09,1.767779e+09
25%,100.000000,11.000000,11.000000,13.750000,1.767796e+09,1.767789e+09,1.767796e+09,1.767790e+09,1.767793e+09,1.767790e+09
50%,135.000000,29.000000,31.000000,31.000000,1.767801e+09,1.767792e+09,1.767799e+09,1.767792e+09,1.767795e+09,1.767791e+09
75%,187.500000,70.000000,65.000000,75.750000,1.767810e+09,1.767797e+09,1.767804e+09,1.767793e+09,1.767795e+09,1.767792e+09
max,745.000000,1440.000000,1400.000000,1440.000000,1.767851e+09,1.767833e+09,1.767848e+09,1.767834e+09,1.767797e+09,1.767796e+09

In [13]:
flights.columns

Index(['airline_iata', 'airline_icao', 'flight_iata', 'flight_icao',
       'flight_number', 'dep_iata', 'dep_icao', 'dep_terminal', 'dep_gate',
       'dep_time', 'dep_time_utc', 'dep_estimated', 'dep_estimated_utc',
       'dep_actual', 'dep_actual_utc', 'arr_iata', 'arr_icao', 'arr_terminal',
       'arr_gate', 'arr_baggage', 'arr_time', 'arr_time_utc', 'arr_estimated',
       'arr_estimated_utc', 'arr_actual', 'arr_actual_utc', 'cs_airline_iata',
       'cs_flight_number', 'cs_flight_iata', 'status', 'duration', 'delayed',
       'dep_delayed', 'arr_delayed', 'aircraft_icao', 'arr_time_ts',
       'dep_time_ts', 'arr_estimated_ts', 'dep_estimated_ts', 'arr_actual_ts',
       'dep_actual_ts'],
      dtype='object')

In [14]:
flights.isnull().sum()

airline_iata           0
airline_icao           0
flight_iata            0
flight_icao            0
flight_number          0
dep_iata               0
dep_icao               6
dep_terminal         197
dep_gate             268
dep_time               0
dep_time_utc           0
dep_estimated        156
dep_estimated_utc    156
dep_actual           210
dep_actual_utc       210
arr_iata               0
arr_icao               8
arr_terminal         178
arr_gate             444
arr_baggage          301
arr_time               0
arr_time_utc           0
arr_estimated        177
arr_estimated_utc    177
arr_actual           421
arr_actual_utc       421
cs_airline_iata      412
cs_flight_number     412
cs_flight_iata       412
status                 0
duration               0
delayed              261
dep_delayed          264
arr_delayed          311
aircraft_icao        499
arr_time_ts            0
dep_time_ts            0
arr_estimated_ts     177
dep_estimated_ts     156
arr_actual_ts        421
dep_actual_ts        210
dtype: int64

In [15]:
flights['dep_icao'] = flights['dep_icao'].fillna('Unknown')
flights['arr_icao'] = flights['arr_icao'].fillna('Unknown')
flights['duration'] = flights['duration'].fillna(flights['duration'].median())

In [23]:
flights['dep_estimated'] = flights['dep_estimated'].fillna(flights['dep_time'])
flights['dep_estimated_utc'] = flights['dep_estimated_utc'].fillna(flights['dep_time_utc'])

flights['arr_estimated'] = flights['arr_estimated'].fillna(flights['arr_time'])
flights['arr_estimated_utc'] = flights['arr_estimated_utc'].fillna(flights['arr_time_utc'])

flights['dep_actual'] = flights['dep_actual'].fillna(flights['dep_time'])
flights['dep_actual_utc'] = flights['dep_actual_utc'].fillna(flights['dep_time_utc'])

flights['arr_actual'] = flights['arr_actual'].fillna(flights['arr_time'])
flights['arr_actual_utc'] = flights['arr_actual_utc'].fillna(flights['arr_time_utc'])

In [24]:
text_columns = ['dep_terminal','dep_gate','arr_terminal','arr_gate','arr_baggage',
                'cs_airline_iata','cs_flight_number','cs_flight_iata','aircraft_icao']

numeric_columns = ['delayed','dep_delayed','arr_delayed']

flights[text_columns] = flights[text_columns].fillna('Unknown')
flights[numeric_columns] = flights[numeric_columns].fillna(0)

In [25]:
time_columns = ['dep_time','arr_time','dep_actual','arr_actual','dep_estimated','arr_estimated']
for col in time_columns:
    flights[col] = pd.to_datetime(flights[col])

In [26]:
# Check nulls
flights.isnull().sum()

airline_iata           0
airline_icao           0
flight_iata            0
flight_icao            0
flight_number          0
dep_iata               0
dep_icao               0
dep_terminal           0
dep_gate               0
dep_time               0
dep_time_utc           0
dep_estimated          0
dep_estimated_utc      0
dep_actual             0
dep_actual_utc         0
arr_iata               0
arr_icao               0
arr_terminal           0
arr_gate               0
arr_baggage            0
arr_time               0
arr_time_utc           0
arr_estimated          0
arr_estimated_utc      0
arr_actual             0
arr_actual_utc         0
cs_airline_iata        0
cs_flight_number       0
cs_flight_iata         0
status                 0
duration               0
delayed                0
dep_delayed            0
arr_delayed            0
aircraft_icao          0
arr_time_ts            0
dep_time_ts            0
arr_estimated_ts     177
dep_estimated_ts     156
arr_actual_ts        421
dep_actual_ts        210
dtype: int64

In [29]:
flights[["arr_estimated_ts","dep_estimated_ts","arr_actual_ts","dep_actual_ts"]]

     arr_estimated_ts  dep_estimated_ts  arr_actual_ts  dep_actual_ts
0        1.767795e+09      1.767789e+09   1.767795e+09   1.767789e+09
1        1.767794e+09      1.767789e+09   1.767794e+09   1.767789e+09
2        1.767795e+09      1.767790e+09   1.767795e+09   1.767790e+09
3        1.767793e+09      1.767790e+09   1.767793e+09   1.767790e+09
4        1.767800e+09      1.767790e+09            NaN   1.767790e+09
..                ...               ...            ...            ...
494               NaN               NaN            NaN            NaN
495               NaN               NaN            NaN            NaN
496               NaN               NaN            NaN            NaN
497      1.767791e+09      1.767786e+09   1.767791e+09   1.767786e+09
498      1.767791e+09               NaN            NaN            NaN

[499 rows x 4 columns]

In [30]:
flights["dep_estimated_ts"]=flights["dep_estimated_ts"].fillna(flights["dep_time_ts"])
flights["arr_estimated_ts"]=flights["arr_estimated_ts"].fillna(flights["arr_time_ts"])

In [32]:
flights[["flight_iata","status"]]

    flight_iata     status
0         6E512     landed
1        6E7139     landed
2        6E7586     landed
3         6E324     landed
4         6E437     active
..          ...        ...
494      S59110  cancelled
495      S59204  scheduled
496      S59205  scheduled
497       S5396     landed
498       S5182  scheduled

[499 rows x 2 columns]

In [33]:
completed=flights[flights["dep_actual_ts"].notna()]
completed['dep_delayed'].mean()

np.float64(32.48096885813149)

In [36]:
completed.shape[0]

289

In [37]:
on_time=completed[completed["dep_delayed"]<=15]
on_time.shape[0]/completed.shape[0]*100

59.515570934256054

In [39]:
flights[flights["dep_actual_ts"].isna()][["flight_iata","status"]]

    flight_iata     status
9         6E117  scheduled
37       6E3706     landed
48       6E6187     active
63       6E3258  cancelled
64       6E4106     active
..          ...        ...
493       S5174  scheduled
494      S59110  cancelled
495      S59204  scheduled
496      S59205  scheduled
498       S5182  scheduled

[210 rows x 2 columns]

In [40]:
flights.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 499 entries, 0 to 498
Data columns (total 41 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   airline_iata       499 non-null    object
 1   airline_icao       499 non-null    object
 2   flight_iata        499 non-null    object
 3   flight_icao        499 non-null    object
 4   flight_number      499 non-null    object
 5   dep_iata           499 non-null    object
 6   dep_icao           499 non-null    object
 7   dep_terminal       499 non-null    object
 8   dep_gate           499 non-null    object
 9   dep_time           499 non-null    datetime64[ns]
 10  dep_time_utc       499 non-null    object
 11  dep_estimated      499 non-null    datetime64[ns]
 12  dep_estimated_utc  499 non-null    object
 13  dep_actual         499 non-null    datetime64[ns]
 14  dep_actual_utc     499 non-null    object
 15  arr_iata           499 non-null    object
 16  arr_icao           499 non-null    object
 17  arr_terminal       499 non-null    object
 18  arr_gate           499 non-null    object
 19  arr_baggage        499 non-null    object
 20  arr_time           499 non-null    datetime64[ns]
 21  arr_time_utc       499 non-null    object
 22  arr_estimated      499 non-null    datetime64[ns]
 23  arr_estimated_utc  499 non-null    object
 24  arr_actual         499 non-null    datetime64[ns]
 25  arr_actual_utc     499 non-null    object
 26  cs_airline_iata    499 non-null    object
 27  cs_flight_number   499 non-null    object
 28  cs_flight_iata     499 non-null    object
 29  status             499 non-null    object
 30  duration           499 non-null    int64
 31  delayed            499 non-null    float64
 32  dep_delayed        499 non-null    float64
 33  arr_delayed        499 non-null    float64
 34  aircraft_icao      499 non-null    object
 35  arr_time_ts        499 non-null    int64
 36  dep_time_ts        499 non-null    int64
 37  arr_estimated_ts   499 non-null    float64
 38  dep_estimated_ts   499 non-null    float64
 39  arr_actual_ts      78 non-null     float64
 40  dep_actual_ts      289 non-null    float64
dtypes: datetime64[ns](6), float64(7), int64(3), object(25)
memory usage: 160.0+ KB

In [47]:
flights.rename(columns={'delayed': 'delays'}, inplace=True)

In [48]:
from sqlalchemy import create_engine
from urllib.parse import quote_plus
# Step 1: Connect to MySQL
# Replace placeholders with your actual details
username="root"
password=quote_plus("Thiran@123")
host="localhost"
port="3306"
database="in_flight"

engine=create_engine(
    f"mysql+pymysql://{username}:{password}@{host}:{port}/{database}"
)

# Step 2: Load DataFrame into MySQL
table_name="flights"
flights.to_sql(table_name,engine,if_exists="replace",index=False)

print(f"Data successfully loaded into table '{table_name}' in database '{database}'.")

Data successfully loaded into table 'flights' in database 'in_flight'.

In [43]:
flights["delayed"]

0       0.0
1       0.0
2       0.0
3       0.0
4       8.0
       ...
494     0.0
495     0.0
496     0.0
497    24.0
498     0.0
Name: delayed, Length: 499, dtype: float64